<html> 
    <head><title>Upload Test</title></head> 
    <body> 
        <form action="/test/photo/upload"
              method="post"
              enctype="multipart/form-data"> 
            File:
            <input type="file"
                   name="file"
                   id="id_file" />

            <input type="text" id="file_name" name="file_name"></td>
            <input type="text" id="file_day" name="file_day"></td>

            <input type="submit" value="UPLOAD" /> 
        </form> 
    </body> 
</html> 